@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;500&family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

article {
  background-color: #fff;
  width: 50rem;
  height: 25rem;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
  background-image: url("https://images.pexels.com/photos/2682877/pexels-photo-2682877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
}

article div:nth-child(1) {
  background-color: white;
  width: 70%;
  border-radius: 0.3rem;
  position: absolute;
  left: 7.5rem;
  top: 22.5rem;
  padding: 1rem;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.15);
}

article .top h2 {
  font-family: "Anek Telugu", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: red;
}
article .middle {
  position: absolute;
  background-color: white;
  top: 25rem;
  z-index: -1;
  padding: 5rem;
}

article .middle p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
article .middle p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: gray;
  margin-top: 2rem;
}

article .middle a {
  width: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
}
article .middle a:hover {
  color: white;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
